/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h2{
    font-size: 32px;
}
a:hover { text-decoration: none }
.blog-box-bg-1{background-image: url(../img/blog-box-bg1.jpg)}
.blog-box-bg-2{background-image: url(../img/blog-box-bg2.jpg)}
.blog-box-bg-3{background-image: url(../img/blog-box-bg3.jpg)}
.section-title{
    text-align: center;
    color: #565656;
    margin-bottom: 70px;
}
.section-title h2{
    color: #222;
}
section,.section-padding{
    padding: 100px;
}
    .blog-box-bg{
    position: center;
    height: 200px;
    background-size: cover;
    border:1px solid #fdaf67;
    border-bottom: none;
}
.blog-box-content{
    border: 1px solid #f4f4f4;
    padding: 20px;
}
.blog-meta{
    font-size: 14px;
    margin-right: 10px;
}
.blog-meta a{
    color: #545454;
}
.fa{
    color: #ff8d15;
    margin:40px 10px 20px 0px;

    
}
.fa-calendar{
    margin-left: 20px;
}
.blog-box-content h3{
    font-size: 20px;
    margin-bottom: 25px;
}
.blog-readmore-btn{
    background-color: #ff8f17;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    transition:.3s;
}
.blog-readmore-btn:hover{
    background: #222222;
    color: #ffffff;
}
.single-blog-box:hover .blog-box-content{
    border:1px solid #fd8e2e;
    transition:.3s;
    
}